#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.footer, .push {
    height: 26px;
    text-align:right;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -30px;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#content{
    background-color: #ffffff;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


#copyright{
    font-size: 9px;
    color: darkred;
}
/*-----index.xhtml-----*/
.formulario{
    /* background-color: #0bbdbd;*/
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #0bbdbd, white);
    background: -moz-linear-gradient(top, #0bbdbd, white);
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    min-width: 500px;
}

.encabezado{
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.tablaformulario{
    margin:0 auto 0 auto;
}

.labelslogin{
    text-align: right;
}

.inputslogin{
    text-align: left;
}

#pregunta{
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.enlaces{
    margin-bottom: 10px;
}

.errorformulario{
    color: red!important;
}

/*-----viewcalendar.xhtml-----*/

.calendarioReuniones{
    width: 100%;
    height: 350px;
    min-width: 175px;
    min-height: 165px;
    text-align: center;

}

.puntosdeldia{

    height: 40px;
}