body{
    background: url("#{resource['css/img/:bg.jpg']}") #ffffff;
}

#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.footer, .push {
    height: 30px;
    text-align:right;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -30px;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.clearfix{
    clear: both;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


#copyright{
    font-size: 9px;
    color: darkred;
}
/*-----index.xhtml-----*/
.formulario{
    /* background-color: #0bbdbd;*/
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #0bbdbd, white);
    background: -moz-linear-gradient(top, #0bbdbd, white);
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    min-width: 500px;
}

.logindiv{
    width:470px;
    margin:0 auto;
    background-color: #fff;
}

.encabezado{
    background: #87e0fd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3ZTBmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzUzY2JmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNWFiZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    font-variant: small-caps;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:#fff;
    border: 1px solid #CCCCCC;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.cuerpo{
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding:20px
}

.cuerpo .center{
    text-align: center;
}

.acceder{
    float: right;
    margin: 10px;
}
.connectionstatus{float:right;}

.tablaformulario{
    margin:0 auto 0 auto;
}

.labelslogin{
    text-align: right;
}

.inputslogin{
    text-align: left;
}

#pregunta{
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.enlaces{
    margin-bottom: 10px;
}

.errorformulario{
    color: red!important;
}

/*-----viewcalendar.xhtml-----*/

.calendarioReuniones{
    width: 100%;
    height: 350px;
    min-width: 175px;
    min-height: 165px;
    text-align: center;

}

.puntosdeldia{

    height: 40px;
}

/*Calendario*/

.antonio {
    background: #0bbdbd;
}
.antonio .iceCmdLnk {
    background: none;
    border: none;
}

.juan{

    background-color: greenyellow;
}
.juan .iceCmdLnk{
    background:none;

}
.inputsrelaciones{

    text-align: center;
}

.calendarioReunionesMonthYear .iceCmdLnk{

    display: none;
}
.iceRowSelSelected .iceOutTxt{
    color:black!important;
}
.iceRowSelSelectedMouseOver{
    background-color: #FF4673!important;
}

.iceRowSelSelected{
    background-color: #FFB500!important;
}

.iceSelInpDateOpenPopup{
    height: 18px!important;
}

/*Plantilla logueado*/
/*Header*/
/*Menu header*/
.navbar-inner{min-width: 960px}
.container{width:960px!important}
/*Cuerpo*/
.content{
    width:960px;
    margin:0 auto;
    clear:both;
    background:#fff;
    padding: 9px 10px 11px;
    border-radius:5px;
}
.sectiontittle{
    border-bottom: 1px solid #EFEFEF;
}
.tdcenter{
    text-align: center;
}
/*Fin plantilla logueado*/